<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        CSV App
        {% block title %}{% endblock %}
    </title>
    <!-- meta -->
    <meta name="description" content="Upload and view csv files">
    <meta name="author" content="James Hurley">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    {% block css %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    {% block js %}{% endblock %}
</body>

</html>