{% extends "base.jinja2" %}

{% block content %}
    <div id="main" data-react='{{data}}'></div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{url_for('static', filename=WEBPACK_APP)}}"></script>
{% endblock %}